/* CSS */

.SendMessageform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.SendMessageform form {
    width: 100%;
    max-width: 600px;
}

.SendMessageform label,
.SendMessageform select,
.SendMessageform input,
.SendMessageform textarea,
.SendMessageform button {
    width: 100%;
    margin-bottom: 10px;
}

#submitButton-PrivateMessage
{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .SendMessageform form {
        padding: 10px;
    }

    #submitButton-PrivateMessage {
        padding: 10px;
        font-size: 14px;
    }
}


.message-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.message-time {
    font-size: 0.8em;
    color: #888;
}

.button-container-in-messageRecived {
    display: flex;
    justify-content: flex-start; /* Align the buttons to the left */
    flex-wrap: wrap;
}

.button-container-in-messageRecived button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
.message-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow-wrap: break-word; /* Breaks the word at the end of the line */
    word-wrap: break-word; /* Breaks the word at the end of the line for older browsers */
    word-break: break-word; /* Breaks the word at the end of the line for even older browsers */
}

.button-container-in-messageRecived button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .message-container {
        font-size: 0.9em;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .message-container {
        font-size: 1em;
    }
}

@media (min-width: 961px) {
    .message-container {
        font-size: 1.1em;
    }
    .button-container-in-messageRecived button {
        margin: 5px 10px; /* Increase the horizontal margin */
    }
}