.message-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.message-container:hover {
    transform: scale(1.02);
}

.message-container h2,
.message-container h3,
.message-container h4 {
    margin: 10px 0;
}

.message-container h2 {
    color: #333;
    font-size: 1.2em;
}

.message-container h3 {
    color: #666;
    font-size: 1.1em;
}

.message-container h4 {
    color: #999;
    font-size: 1em;
}

.button-container-in-messageRecived
{
    display: flex;
    gap: 10px; 
}