/* ChatWindow.css */
.chat-window {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 610px; /* Set a width for the chat window */
  position: fixed; /* Make the position fixed */
  right: 30px; /* Position it 20px from the right edge of the screen */
  bottom: 30px; /* Position it 20px from the bottom edge of the screen */
  border: 1px solid black;
  border-radius: 20px;
  background-color: white; /* Or any non-transparent color */
  opacity: 1;
}
.header {
  margin-left: auto;

}


.chat-window h1 {
  color: black;
  font-size: 20px; 
  margin: 10px;
  right: 550px;
}
.displayChatRooms
{
  margin: 10px 0; /* Adjust as needed */
  padding: 10px 0; /* Adjust as needed */
  margin-left: 10px;
  color: black;
  font-size: 20px; 
  text-align: left;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add this line */
  cursor: pointer;
  border-radius: 10px;

}
.displayChatRooms:hover {
  background-color: red; /* Change to your preferred color */
  transform: scale(1.05); /* Slightly enlarge the chat room on hover */
}
.chat-room-selected {
  background-color: #f0f0f0; /* Change to the color you want for highlighting */
}
.header-icons
{

  position: absolute;
  right: 550px;
  display: flex;
}
.chat-section-first {
  flex: 0.4;
  overflow-y: auto;
  border-right: 3px solid black; /* Add a border to the right side of the first section */
}
.chat-section-second {
  flex: 0.6;
  overflow-y: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black ; /* Adjust as needed */
  line-height: 1.5; /* Adjust as needed */

  height: 50px;

}
.chat-headerone
{
  text-align: left;

}
.settings-button
{
  
}
.upperClose
{

  
}


.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.username{
  font-weight: bold;
  color: black;
  font-size: 15px;

}
.username-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: #888;
  margin-bottom: 5px;
}

.message-text {  
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  font-size: 15px;
}
.message-text:hover {
  background-color: #e0e0e0;
}


.message-time {
  position: relative;
}
.form-container {
  position: fixed;
  bottom: 28px;
  width: 100%;
  display: flex;
  width: 350px;
  margin-left:10px;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px; /* Adjust this value as needed */
  height: 30px; /* Adjust this value as needed */
  padding: 10px;
  border: none;
  border-radius: 80px;
  background-color: rgb(168, 167, 167);
}

.chat-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
}

.icons-container {
  position: absolute;
  right: 6px;
  display: flex;
}

.chat-form {
  display: flex;
  flex-wrap: nowrap;
}

