/* ChatWindow.css */
.chat-window {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 610px; /* Set a width for the chat window */
  position: fixed; /* Make the position fixed */
  right: 30px; /* Position it 20px from the right edge of the screen */
  bottom: 30px; /* Position it 20px from the bottom edge of the screen */
  border: 1px solid black;
  border-radius: 20px;
}
.header {
  margin-left: auto;

}


.chat-window h1 {
  color: black;
  font-size: 20px; 
  margin: 10px;
  right: 550px;
}
.header-icons
{

  position: absolute;
  right: 370px;
  display: flex;
}
.chat-section-first {
  flex: 0.4;
  overflow-y: auto;
  border-right: 3px solid black; /* Add a border to the right side of the first section */
}
.chat-section-second {
  flex: 0.6;
  overflow-y: auto;
}

.messages {
  flex: 1;
  overflow-y: auto;
}

.form-container {
  display: flex;
  width: 350px;
  margin-top: 410px;
  margin-left:10px;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px; /* Adjust this value as needed */
  height: 30px; /* Adjust this value as needed */
  padding: 10px;
  border: none;
  border-radius: 80px;
  background-color: rgb(168, 167, 167);
}

.chat-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
}

.icons-container {
  position: absolute;
  right: 6px;
  display: flex;
}

.chat-form {
  display: flex;
  flex-wrap: nowrap;
}

.upperClose
{
  position: absolute;
  left: 315px;
  top: 1px;
}