/* ChatWindow.css */

/* Base styles for chat window */
.chat-window {
  display: flex;
  flex-direction: row;
  height: 70%;
  /* Set height to 100% to fill the available space */
  width: 60%;
  /* Set width to 100% to fill the available space */
  position: fixed;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  opacity: 1;
}

/* Chat room list section */
.chat-section-first {
  flex: 0.4;
  border-right: 3px solid black;
  height: 100%;
  /* Set height to 100% to fill the available space */

}

/* Chat room list */
.displayAllChatRooms {
  height: 90%;
  /* Adjust to leave space for the header */
  overflow-y: auto;
  /* Add scrollbar for vertical overflow */

}

/* Header container */
.headerdisplayChatRooms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  line-height: 1.5;
  height: 40px;
  padding: 0 10px;
  /* Add padding to create space for scrollbar */

}



/* Chat room item */
.displayChatRooms {
  margin: 10px 0;
  padding: 10px 0;
  margin-left: 10px;
  color: black;
  font-size: 20px;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}


/* Hover effect for chat room item */
.displayChatRooms:hover {
  background-color: red;
  transform: scale(1.05);
}

/* Header icons */
.header-icons-firstsecction {
  display: flex;
}

/* Chat section with messages */
.chat-section-second {
  position: relative;
  height: 100%;
  /* Set height to 100% to fill the available space */
  width: 100%;
  flex: 0.6;
  overflow-y: auto;
}

/* Header container */
.header-container-secondSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  line-height: 1.5;
  height: 40px;
}

.chat-header-secondSection {}

.headerTabs-secondSection {}

.settings-button-secondSection {}

.close-button {}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .chat-window {
    flex-direction: column;
    /* Change to column layout on smaller screens */
    height: 60%;
    /* Set height to 100% to fill the available space */
    width: 90%;
    /* Set width to 100% to fill the available space */
    border-radius: 0;
    /* Remove border radius */
  }

  .chat-section-first {
    flex: 0.4;
    border-right: 3px solid black;
    height: 100%;
    /* Set height to 100% to fill the available space */

    width: 100%;
    /* Set width to 100% to fill the available space */

  }

  /* Chat room list */
  .displayAllChatRooms {
    height: 40%;
    /* Adjust to leave space for the header */
    overflow-y: auto;
    /* Add scrollbar for vertical overflow */

  }

  /* Header container */
  .headerdisplayChatRooms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    line-height: 1.5;
    height: 40px;
    padding: 0 10px;
    /* Add padding to create space for scrollbar */

  }



  /* Chat room item */
  .displayChatRooms {
    margin: 10px 0;
    padding: 10px 0;
    margin-left: 10px;
    color: black;
    font-size: 20px;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
  }


  /* Hover effect for chat room item */
  .displayChatRooms:hover {
    background-color: red;
    transform: scale(1.05);
  }

  /* Header icons */
  .header-icons-firstsecction {
    display: flex;
  }



  /* Chat section with messages */
  .chat-section-second {
    position: relative;
    height: 100%;
    /* Set height to 100% to fill the available space */
    width: 100%;
    flex: 0.6;
  }
  
  /* Header container */
  .header-container-secondSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    line-height: 1.5;
    height: 3%;
  }
  
  .chat-header-secondSection {


  }
  
  .headerTabs-secondSection {}
  
  .settings-button-secondSection {}
  
  .close-button {}

  .ChatAreaBetweenUsers
  {
    height: 80%;
    overflow-y: auto;
    /* Add scrollbar for vertical overflow */

    
  }

    .form-container-Message-Input-From
    {
      display: flex;
      width: 100%;
      align-items: center; /* Align items vertically */ 
      background-color: rebeccapurple;
    }
    .chat-form-Message-Input-From
    {
      background-color: rebeccapurple;
    }
    .input-container-Message-Input-From
    {
      background-color: rebeccapurple;
      display: flex;
      flex: 1; /* Allow the input field and icons container to share the available space */
    }
    .chat-input-Message-Input-From
    {
      background-color: rebeccapurple;
      flex: 1; /* Allow the input field to grow to fill available space */

    }
    .icons-container-Message-Input-From
    {
      background-color: rebeccapurple;
      display: flex;
      margin-left: 10px; /* Add margin between input field and icons */

    }
  }