:root {
  --color-black: black;
  --color-blue: rgb(61, 137, 224);
  --color-light-gray: rgba(218, 211, 211, 0.408);
  --color-gray: gray;
  --color-light-red: #fb361c;
  --color-red: #d82700;
  --font-very-small: 12px;
  --font-small: 14px;
  --font-medium: 15px;
  --font-medium-2: 17px;
  --font-large: 20px;
  --width-header: 1300px;
  --width-settingsNav: 1000px;
  --width-settingsBody: 700px;
  --width-settingsParagraph: 500px;
  --margin-left-default: 160px;
  --margin-top-small: 10px;
  --margin-top-medium: 30px;
  --margin-top-large: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

/* html {
  font-size: 62%;
} */
.header {
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-left-default);
}
.title {
  font-size: var(--font-large);
  margin-top: var(--margin-top-small);
}

.navList {
  margin-top: var(--margin-top-medium);
  max-width: var(--width-settingsNav);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.horizontalLine {
  opacity: 0.1;
  height: 1.5px;
  border-left: var(--width-header) solid var(--color-gray);
  z-index: -1;
}
.horizontalLine-2 {
  border-left: var(--width-settingsBody) solid var(--color-gray);
}

/* Settings Body */
.settingsBody {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-top-large);
  max-width: var(--width-settingsBody);
}
.titleBody {
  margin: var(--margin-top-large) 0;
}
.titleBody-2 {
  font-size: var(--font-medium-2);
}
.settingsData {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.settingsItem {
  display: flex;
  align-items: center;
}
.titleDataItem {
  font-size: var(--font-very-small);
  color: var(--color-gray);
}
.settingsParagraph {
  color: var(--color-gray);
  font-size: var(--font-small);
  max-width: var(--width-settingsParagraph);
}
.beta {
  color: var(--color-light-red);
}
.link {
  color: var(--color-blue);
  text-decoration: none;
}
/* // End Settings Body */
