.right-sidebar {
  width: 300px; /* Adjust width as needed */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px 80px 0 0;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%;
}

.settings {
  text-align: center;
}

.moderation {
  margin-top: 20px;
}

.links {
  margin-top: 20px;
}

/* Positioning the RightSidebar */
.rightSidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}
