:root {
  --bs-body-bg: #f5f5f5;
  --theme-background: #f5f5f5;
  --hover-color: #d5d4d4c9;
  --text-color: #333;
}

[data-theme="dark"] {
  --bs-body-bg: #1a1a1b;
  --theme-background: #2b2b2b;
  --hover-color: #333;
  --text-color: #f5f5f5;
}

[data-theme="light"] {
  --bs-body-bg: #f5f5f5;
  --theme-background: #f5f5f5;
  --text-color: #333;
}
.right-sidebar {
  width: 300px;
  background-color: var(--hover-color);
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px 20px 0 0;
}

.user-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-info {
  text-align: center;
}

.user-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.settings,
.moderation,
.links,
.community {
  margin-bottom: 20px;
}

.settings h3,
.moderation h3,
.links h3,
.community h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.links a {
  display: block;
  margin-bottom: 5px;
}

.edit-profile,
.subscribe-button {
  background-color: #0079d3;
  color: var(--hover-color);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.edit-profile:hover,
.subscribe-button:hover {
  background-color: #005ba1;
}

.profileCSS {
  display: flex;
  justify-content: left;
  gap: 2rem;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.profileNav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.userProfileHeader {
  @media screen and (min-width: 768px) {
    margin-right: 25rem;
  }
}
.sidebar {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.profileNavTabs {
  @media screen and (min-width: 768px) {
    margin-left: 12rem;
  }
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

/* Profile.css */
.home-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 2fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

#grid-0,
#grid-1,
#grid-3 {
  grid-column: span 1;
}

#grid-2 {
  grid-column: span 4;
  border-radius: 20px;
  padding: 20px;
}

.user-profile-data {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
}

.user-profile-data label {
  cursor: pointer;
}

.user-profile-data input[type="file"] {
  display: none;
}

.user-profile-data h4 {
  font-weight: bold;
}

.user-tabs {
  margin-top: 20px;
}

.user-tabs .MuiTabs-root {
  border-bottom: 1px solid #ccc;
}

.user-tabs .MuiTab-root {
  text-transform: none;
}

.user-tabs .Mui-selected {
  font-weight: bold;
}

.right-sidebar {
  background-color: var(--theme-background);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 20px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.settings,
.moderation,
.links {
  margin-top: 20px;
}

.edit-profile {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #grid-0,
  #grid-1,
  #grid-3 {
    grid-column: span 1;
  }

  #grid-2 {
    grid-column: span 1;
    border-radius: 0;
    padding: 10px;
  }
}
