.subreddit-banner {
  background-color: #0079d3;

  /* margin-left: 400px; */
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px;
  height: 160px;

  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subreddit-title {
  margin-left: 10px;
  font-size: 3rem;
  margin-right: 140px;
}
.subreddit-container {

  padding: 10px;
}
.subreddit-image {
  margin-left: 100px;
  transform: translateY(-30%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: aliceblue;
  border-width: 5px;
}
.join-subreddit {
  border: 1px solid black;

  border-radius: 25px;
  padding: 10px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.join-subreddit:hover {
  background-color: #db4437;
  border: white;
  color: white;
}
.more-subreddit {
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.more-subreddit:hover {
  background-color: #db4437;
  border: white;
  color: white;
}
.subreddit-feautres {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bell-icon {
  border: 1px solid black;
  border-radius: 50px;
  margin: 0 10px 0 10px;
  padding: 10px;
  cursor: pointer;
}
.bell-icon:hover {
  background-color: #db4437;
  border: white;
  color: white;
}
.post-in-subreddit {
  border: 1px solid black;

  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.post-in-subreddit:hover {
  background-color: #db4437;
  border: white;
  color: white;
}
.internal-banner-strip
{
  display: flex;
  align-items: center;
}

.subreddit-strip{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;

}



.angry-grid {
   display: grid; 

   grid-template-rows: 70px 300px auto auto auto;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#item-0 {
/* 
   background-color: #8E5597;  */
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 12;
   
}
#item-1 {
/* 
   background-color: #95DB6A;  */
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 6;
   grid-column-end: 3;
   
}
#item-2 {

   /* background-color: #CD9CEF;  */
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 6;
   grid-column-end: 10;
   
}
#item-3 {

   /* background-color: #FE8F6A;  */
   grid-row-start: 3;
   grid-column-start: 10;

   grid-row-end: 6;
   grid-column-end: 12;
   
}
#item-4 {

   /* background-color: #67D9EE;  */
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 12;
   
}

@media (max-width: 1500px){
  #item-3{
      display: none;
  }
}


@media (max-width: 1350px){

  #item-1{
      display: none;
  }
  #item-2,
  #item-4 {
    grid-column: span 12; /* Make item 2 and 4 take the full width */
  }
}

@media (max-width: 980px) {
  .subreddit-features {
    display: flex;
    justify-content: space-between;
  }

  .subreddit-features > button:not(.more-subreddit) {
     display: none;
  }
  
  .subreddit-title{
    margin-right: 50px;
  }
  .internal-banner-strip h1{
    display: block;
    
  }
  .subreddit-features{
    display: block;
  }


  /* .subreddit-features svg {
    margin-right: 10px;
    vertical-align: middle;
  } */
}

@media (max-width: 768px) {
  .subreddit-strip{
    display: block;
  }

}