.sort-options{
    width: 730px;
    position: relative;
    left: 100px;
    /* margin-left: 300px; */
    /* margin:8px 4px 0px 4px; */
}

.sort-options button{
    width: 70px;
    height: 30px;
    position: relative;
    top: 7px;
}

.sort-options button:hover{
    background: #f5f5f5;
    border-radius: 20px;
}

.sort-by{
    cursor: text;
    position: relative;
    top:10px;
    font-weight: 610;
    font-size: 14px;
}

.sort-option-wrap{
    position: absolute;
    top: 29px;
    right: -13px;
    width: auto;
    opacity: 0%;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.25s; 
  }
  
  .sort-option-wrap.open-menu{
    opacity: 100%;
    visibility: visible;
    z-index: 1;
  }
  
  .sort-option{
    position: relative;
    background: white;
    margin: 10px;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .sort-option-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 21px;
    cursor: pointer;
    color: black;
    padding: 8px 16px 8px 16px;
  }

  .sort-option-link p{
    width: 100%;
    justify-content: center;
    position: relative;
    top: 7px;
  }
  
  .sort-option-link:hover{
    background: #f5f5f5;
    border-radius: 5px;
  }

  SortOptions hr{
    margin: 10px 0px 0px 0px;
  }

  @media (max-width: 1350px) {
    .sort-options{
      left: 20%;
    }
    .post-content {
      padding-left: 0;
      padding-right: 0;
    }
    .post-buttons {
      padding-left: 0;
    }
    
  }
  
  @media (max-width: 980px) {
    .sort-options {
      left: 15%;
    }
  }
  
  @media (max-width: 768px) {
    .sort-options {
      left: 4%;
    max-width: 680px;
    }
  }
  
  @media (max-width: 480px) {
    .sort-options {
      left:3%;
      max-width: 400px;
    }
  }