.create-post-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the container */

    height: 100%;

}
.create-post-form-section {
    flex: 1;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border radius */
    padding: 20px; /* Add padding */

}
.create-post-form input[type="text"],
.create-post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

}

.create-post-form textarea {
    height: 200px;
}

#createcss {
    width: 30%;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;

}

.create-post-form button:hover {
    background-color: #0056b3;
}
#button22
{
    width: 15%;
    padding: 5px;
    background-color: #0080ff;
    color: #221e1e;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 20px;
}

@media (max-width: 980px) {
    .create-post-form-section {
        margin-right: 20px; /* Reduce margin for smaller screens */
    }

    .create-post-form input[type="text"],
    .create-post-form textarea {
        width: calc(100% - 30px); /* Adjust width for smaller screens */
    }
}