/* PostDesign.css */

:root{
  --bs-body-bg: #f5f5f5;
  --theme-background: #f5f5f5;
  --hover-color: #d5d4d4c9;
  --text-color: #333;
  --comments: #e2e2e2;
}

[data-theme="dark"]{
  --bs-body-bg: #1a1a1b;
  --theme-background: #2b2b2b;
  --hover-color: #333;
  --text-color: #f5f5f5;
  --comments: #333; 
}

[data-theme="light"]{
  --bs-body-bg: #f5f5f5;
  --theme-background: #f5f5f5;
  --text-color: #333;
}
  
  .post-header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;
  }
  
  .user-details {
    display: flex;
    align-items: center; /* Align items horizontally */
  }
  
  .username,
  .community,
  .date {
    margin: 0; /* Remove default margin */
  }
  
  .username {
    font-weight: bold;
    margin-right: 10px; /* Add some spacing between elements */
    margin-top: 10px;
  }
  
  .community,
  .date {
    font-size: 0.8rem;
    color: #666;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 15px;
  }
  
  .post-content {
    margin-top: 10px;
  }
  
  .post-text {
    font-size: 0.9rem;
    color: #555;
    margin-left: 10px;
  }
  
  .post-image {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .invalid-post {
    color: #ff0000;
  }
  .blur-image {
    filter: blur(1px);
    opacity: 0.5;
    height: 80px;
    width: calc(100% - 2 * 15px); /* Calculate width minus left and right margins */
    margin: 10px 15px; /* Adjust margins as needed */
    border-radius: 8px; /* Keep border radius consistent with other elements */
  }
  #spoiler1 {
    font-weight: bold;
    margin-right: 100px; /* Add some spacing between elements */
    margin-top: 100px;
    margin-left: 500px;
  }
  