.addcomment-box{
    width: 720px;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ffff;
    border-radius: 20px;
    margin-bottom: 10px;
    outline:none;
    overflow: hidden;
}

.addcomment-container{
    position: relative;
    left: 10%;
    width: 733px;
    min-height: 50px;
    height: auto;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
    visibility: visible;
    font-size: 15px;
    margin-bottom: 5px;
}

.fake-addcomment{
    position: relative;
    left: 100px;
    width: 733px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    cursor: text;
}

.username-mention{
  color: white;
  background-color: #ffc1aa;
  padding: 1px 4px;
  border-radius: 25px;
  text-decoration: none;
}

.username-mention:hover{
  color: white;
  background-color: #FF4500;
  cursor: pointer;
}

.add-comment-p{
    color: rgb(40, 48, 58);
    font-size: 15px;
    padding: 3px;
}

  .cancel-btn{
    position: relative;
    left: 80%;
    top: -5px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
    color: black;
    background-color: rgb(228, 228, 228);
  }

  .cancel-btn:hover{
    background-color: rgb(216, 215, 215);
  }

  .comment-btn{
    position: relative;
    left: 80%;
    top: -5px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: #43494d;
  }

  .comment-btn:hover{
    background-color: #3b4044;
  }

  .text-formatting{
    position: relative;
    right: 20%;
    padding: 5px 12px;
    font-weight: 700;
  }
  
  .text-formatting:hover{
    background-color: #bebebe;
    border-radius: 50%;
  }

  .text-formatting.open-format-options{
    background-color: #bebebe;
    border-radius: 50%;
  }

  .text-formatting-options{
    position: relative;
    left:0%;

  }

  .text-formatting-button{
    padding: 5px 9px;
    margin-right: 5px;
  }
  .text-formatting-button:hover{
    background-color: #bebebe;
    border-radius: 50%;
  }
  .text-formatting-button.bold{
    background-color: #bebebe;
    border-radius: 50%;
  }
  .text-formatting-button.italic{
    background-color: #bebebe;
    border-radius: 50%;
  }
  .text-formatting-button.strikethrough{
    background-color: #bebebe;
    border-radius: 50%;
  }
  .text-formatting-button.code{
    background-color: #bebebe;
    border-radius: 50%;
  }


  @media (max-width: 1350px) {
    .fake-addcomment {
      max-width: 733px;
    }
    .addcomment-container {
      max-width: 733px;
    }
    .addcomment-box{
      width: 720px;
    }
    .cancel-btn{
      left: 80%;
    }
    
  }
  
  @media (max-width: 980px) {
    .fake-addcomment {
      left: 12%;
    }
    .addcomment-container {
      left: 12%;
    }
    .addcomment-box{
      left: 12%;
    }
    
  }
  
  @media (max-width: 768px) {
    .fake-addcomment {
      left: 4%;
      max-width: 680px;
    }
    .addcomment-container {
      left: 4%;
      max-width: 680px;
    }
    .addcomment-box{
      max-width: 660px;
      left: 4%;
    }

  }
  
  @media (max-width: 480px) {
    .fake-addcomment {
      max-width: 400px;
      left: 2%;
    }
    
    .addcomment-container {
      max-width: 400px;
      left: 2%;
    }
    .addcomment-box{
      max-width: 380px;
      left: 2%;
    }
  }