/* .post-feed{
   width: 730px;
} */

.profile-grid {
  display: grid; 

  grid-template-rows: 70px 300px auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
  gap: 0px;
  height: 100%;
}
 
#profgrid-0 {

  /* background-color: #8E5597;  */
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 12;
  
}
#profgrid-1 {

  /* background-color: #95DB6A;  */
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 3;
  
}

#profgrid-2 {
 
  /* background-color: #CD9CEF;  */
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 4;
  
}
#profgrid-3 {

  /* background-color: #FE8F6A;  */
  grid-row-start: 3;
  grid-column-start: 10;

  grid-row-end: 6;
  grid-column-end: 12;
  
}
#profgrid-4 {

  /* background-color: #67D9EE;  */
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 12;
  
}

@media (max-width: 1500px){
 #profgrid-3{
     display: none;
 }
}


@media (max-width: 1350px){

 #profgrid-1{
     display: none;
 }
 #profgrid-2,
 #profgrid-4 {
   grid-column: span 12; /* Make item 2 and 4 take the full width */
 }
}

@media (max-width: 980px) {
 
}

@media (max-width: 768px) {
 

}