.login-form-light{
  border-radius: 25px;
  padding: 50px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.form-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-text-light{
  border-radius: 5px;
  outline: none;
}

.submit-button-light{
  border-radius: 5px;
  background-color: #ff9500;
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  outline: none;
}


.comment-form-light{
  border-radius: 25px;
  padding: 50px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}