html
{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* Header
.container {
  position: absolute;
  left: 10%;
  top: 32%;
  transform: translate(10%);
} */

nav{
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 100 !important;

}

body {
  padding-top: 60px; /* Adjust this value to match the height of your header */
}

/* @media (max-width: 1000px) {
  Header .container {
    position: absolute;
    left: -7%;
    top: 90%;
    transform: translate(50%);
  }
} */
Header li{
  position: relative;
  left: 135vh;
  padding-left:6px;
}

/* .header {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 100 !important;
} */


Header .create {
  position: relative;
  left: 6px;
  bottom: -1px;
  color: black;
}
.create{
  font-weight: 600;
  font-size: 14px;
}
.user-pic{
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: -6px;
  left: 5px;
}
.rounded-circle{
  border-radius: 50%;
}

@media (min-width:991px)and(max-width: 1300px) {
  Header li{
    position: relative;
    left: 600%;
    padding-left:6px;
  }
}

@media (max-width:991px){
  Header li{
    position: relative;
    left: 0%;
    padding-left:6px;
  }
  .sub-menu-wrap{
    position: absolute;
    top:0%;
    left: 0%;
    width: 280px;
    opacity: 0%;
    overflow: hidden;
    transition: opacity 0.25s;
  }
  .user-pic{
    position: relative;
    left: -2px;
  }
  .sub-menu-wrap.open-menu{
    opacity: 100%;
  }
}

.sub-menu-wrap{
  position: absolute;
  top:110%;
  left: -300%;
  width: 280px;
  opacity: 0%;
  overflow: hidden;
  visibility: hidden;
  display: none;
  transition: opacity 0.25s;
}

.sub-menu-wrap.open-menu{
  opacity: 100%;
  visibility: visible;
  display: block;
  z-index: 1;
}

.sub-menu{
  position: relative;
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0px;
}
.sub-menu-link p{
  width: 100%;
  position: relative;
  top: 7px;
  left: 15px;
}

.sub-menu-link img{
  position: relative;
  right: 4px;
}

.sub-menu-link:hover p{
  font-weight: 600;
}

.sub-menu-link:hover{
  background: #f5f5f5;
  border-radius: 5px;
}

/* //End Header */
.side-bar{
  position: fixed;
  left: 156px;
  width: 250px;
  border-right: 1px solid #c9c7c7;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-bar::before {
  content: "";
  float: left;
  height: auto;
  visibility: hidden;
}

.side-bar::-webkit-scrollbar {
  width: 0px;
}
.side-bar:hover::-webkit-scrollbar {
  width: 5px; /* Show scrollbar when hovering */
}
.side-bar::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px; 
  height: 30px;
}

.side-bar::-webkit-scrollbar-track {
  background: transparent; 
}

.side-bar-content{
  margin-top: 20px;
  margin-right: 10px;
}

.sub-list-title{
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #525252;
  margin: 0px 0px 0px 0px;
}

.sub-list-items{
  list-style: none;
  padding: 0px;
  margin: 0px;
}


.side-bar-link{
  height: 40px;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 450;
  line-height: 1.25rem;
  margin: 0px 0px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.side-bar-link:hover{
  background: #f5f5f5;
  border-radius: 5px;
  padding: 0px 0px; /* Adjust as needed */
}

.side-bar-link p{
  width: 100%;
  position: relative;
  top: 7px;
  left: 30px;
}



.side-bar-link-icon{
  position: relative;
  left: 15px;
}

.side-bar-link-logo{
  position: relative;
  left: 9px;
}

.horizontal-line{
  position: relative;
  right: 10px;
}

summary {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
  display: block;
}

summary div {
  padding-left: 1rem;
  margin: 0;
  justify-content: space-between;
  height: 40px;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}

summary div:hover{
  background-color: #f5f5f5;
  border-radius: 5px;
}

summary::-webkit-details-marker {
  display: none;
}

.summary-arrow {
  display: inline-block;
  position: absolute;
  left: 190px;
  transition: transform 0.3s ease-in-out;
}

@keyframes list-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes list-close-animation{
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}


/* details .sub-list-items{
  animation: list-close-animation 0.5s ease-in-out;
} */

details[open] .sub-list-items {
  animation:  list-animation 0.25s ease-in-out;
}




details[open] > summary .summary-arrow {
  transform: rotate(-180deg);
}

.credits{
  font-size: 10px;
  margin-left: 0.5rem;
  position: relative;
  top: 30px;
  text-decoration: none;
}

.credits:hover{
  text-decoration: underline;
}

@media (max-width: 1420px) {
  .side-bar {
    position: fixed;
    left: 0px;
  }
}

