:root {
  --bs-body-bg: #f5f5f5;
  --theme-background: #f5f5f5;
  --hover-color: #d5d4d4c9;
  --text-color: #333;
}

[data-theme="dark"] {
  --bs-body-bg: #1a1a1b;
  --theme-background: #2b2b2b;
  --hover-color: #333;
  --text-color: #f5f5f5;
}

[data-theme="light"] {
  --bs-body-bg: #f5f5f5;
  --theme-background: #f5f5f5;
  --text-color: #333;
}

.title-and-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
Search {
  background-color: var(--theme-background);
  border-color: chocolate;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
}
